@import url("./assets/font/stylesheet.css");

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
}

.stopwatch-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    height: 100%;
    min-height: 13em;
}

#timer {
    flex: 0 1 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#stopwatch {
    min-height: 2em;
    color: #ffffff;
    font-family: 'space_monoregular';
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    font-size: 4em;
}

#stopwatch-btns {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

#stopwatch-btns button {
    width: 3em;
    height: 3em;
    flex: 0 0 auto;
    margin: 5px;
    font-size: 2em;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

#lap-history, #lap-history-header {
    color: #ffffff;
    font-size: 24px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#lap-history-header {
    justify-content: flex-start;
    flex: 0 0 auto;

}

#lap-history {
    height: 40%;
    overflow: auto;
    justify-content: flex-start;
    flex: 0 1 auto;
}

#lap-history p {
    
    line-height: 1.25;
    margin-bottom: 0;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn:disabled {
    opacity: .65;
    cursor: not-allowed;
}

button:not(:disabled) {
    cursor: pointer;
}

.btn-danger.disabled, .btn-danger:disabled {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
