body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    /* overflow:hidden; */
    /* font-size: 32px; */
}

.stopwatch-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    /* align-items: center; */
    height: 100%;
    min-height: 13em;
}

#timer {
    flex: 0 1 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#stopwatch {
    min-height: 2em;
    color: #ffffff;
    font-family: 'Space Mono';
    /* opacity: .85; */
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    /* overflow: hidden; */
    font-size: 5em;
    /* margin-top: 2em; */
    /* text-align: center; */
}



#stopwatch-btns {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

#stopwatch-btns button {
    width: 3em;
    height: 3em;
    flex: 0 0 auto;
    margin: 5px;
    font-size: 2em;

}

#lap-history, #lap-history-header {
    color: #ffffff;
    /* font-family: 'Space Mono'; */
    font-size: 24px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#lap-history-header {
    justify-content: flex-start;
    flex: 0 0 auto;

}

#lap-history {
    height: 40%;
    /* max-height: 50vh; */
    overflow: auto;
    justify-content: flex-start;
    flex: 0 1 auto;
}

#lap-history p {
    
    line-height: 1.25;
    margin-bottom: 0;
}